<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
<div class="container-fluid col-12 col-md-6 my-4">
    <h1>Posts</h1>

    <%= form_with model: @post, local: true do |form| %>
        <div class="form-floating my-4">
            <%= form.text_area :content, placeholder: "What's on your mind?", class: 'form-control', id: 'floatingTextarea' %>
            <%= form.label :content, "What's on your mind?", for: 'floatingTextarea' %>
        </div>

        <div class="d-flex align-items-center">
            <div class="col-4 file-input-wrapper">
                <%= form.label :image, class: 'file-input-label' do %>
                    <%= image_tag 'camera.svg', alt: 'camera-icon', class: 'icon' %>
                    <span>Image</span>
                    <%= form.file_field :image, class: 'file-input', data: { action: 'change->image-preview#preview', image_preview_target: 'input' } %>                <% end %>
            </div>
            <div class="col-4 input-wrapper">
                <%= form.label :visibility do %>
                    <%= image_tag 'globe.svg', alt: 'camera-icon', class: 'icon' %>
                <% end %>
                <%= form.select :visibility, options_for_select(Post::VISIBILITIES.map(&:capitalize), @post.visibility) %>
            </div>
            <div class="col-4 text-end">
                <%= form.submit "Send", class: 'btn btn-secondary rounded-pill px-4' %>
            </div>
        </div>
        <img id="image_preview" src="#" alt="Image preview" style="display: none; width: 100px; height: auto;" />
    <% end %>

    <ul id="posts" class="mt-5">
        <%= render @posts %>
    </ul>
</div>