<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>

<h1>Posts</h1>

<%= form_with model: Post.new, local: false, class: '' do |form| %>
    <%= form.file_field :image %>
    <%= form.text_area :content, placeholder: "What's on your mind?" %>
    <%= form.submit "Post" %>
<% end %>

<ul id="posts">
    <%= render @posts %>
</ul>