<!DOCTYPE html>
<html>
  <head>
    <title>Focus • Social app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
